
@font-face {
    font-family: 'Charter';
    src: url("../font/CharterBoldBT.ttf");
}

@font-face {
    font-family: 'Roboto-bold';
    src: url("../font/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'Roboto-light';
    src: url("../font/Roboto-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto-light';
    color: #fff;
}


$bl1: #212b4a;
$bl2: #5067b0;
$black: #383938;
$white: #fff;
$grey: #ccc;
$t: tomato;

h1 {
    font-family: 'Charter';
    font-size: 56px;
    line-height: 56px;
    letter-spacing: 0em;
    margin-top: 20px;
    max-width: 777px;
    margin: 0 auto;
    // span {
    //     font-family: 'Charter';
    //     font-size: 76px;
    //     line-height: 76px;
    //     letter-spacing: 0em;
    //     margin-top: 20px;
    //     max-width: 777px;
    //     margin: 0 auto;
    // }
}

h2 {
    font-family: 'Charter';
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0em;
}

h3 {
    font-family: 'Charter';
    font-size: 30px;
    line-height: 20px;
    letter-spacing: 0em;
}

p {
    font-family: 'Roboto-light';
    font-size: 13px;
    opacity: .7;
}
a {
    font-size: 16px;
    text-decoration: none;
}

#main-wrapper {
    // width: 100%;
    // display: flex;
    // height: 100vh;
    width: 100%;
    display: flex;
    height: 100%;
    position: fixed;
    .sibling-side {
        width: 50%;
        height: 100%;
        border-right: 1px solid #4b536c;
        overflow: hidden;
        background: $black;
        position: relative;
        // .back-video {
        //     height: 100%;
        //     width: auto;
        // }
        .sib-slider {
            width: 100%;
            height: 60%; //here 655px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 100;
            display: flex;
            flex-direction: column;
            .left-slide-top, .right-slide-top {
                height: 90px;
                margin: 30px 30px ;
                //background: url('../img/white dots background.svg');
                display: flex;
                opacity: 0;
                visibility: hidden;
                .slide-dots-back {
                    width: 100%;
                    //border: 1px solid red;
                    background: url('../img/dotted.svg');
                    background-position: center;
                }
                .l-s-close, .r-s-close {
                    cursor: pointer;
                    width: 60px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    opacity: .7;
                    transition: .3s ease-in-out;
                    &:hover {
                        opacity: 1;
                    }
                    img {
                        //margin: 20px 0;
                        margin: 0 0;
                    }
                    span {
                        transform: rotate(-90deg);
                        width: 40px;
                        font-size: 11px;
                        //animation: closeAnim 1s infinite;
                        opacity: 0;
                        letter-spacing: 2px;
                    }
                }
            }
            .right-slide-top { flex-direction: row-reverse }
            .left-slide-mid, .right-slide-mid {
                //border: 1px solid red;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                opacity: 0;
                visibility: hidden;
                h3 {padding: 30px 0}
                nav {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-self: center;
                    text-align: center;
                    a {
                        opacity: .7;
                        transition: .3s ease-in-out;
                        margin:  5px 0;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                .send-btn-lef{
                        background: transparent;
                        border: 1px solid #fff;
                        font-family: 'Charter';
                        font-size: 30px;
                        padding: 10px 25px;
                        margin-top: 30px;
                        cursor: pointer;
                        transition: .5s ease-in-out;
                        &:hover {
                            background: rgba(255,255,255,0.2)
                        }    
                    }
                    // &:hover {
                    //     border-bottom: 1px solid #fff;
                    //     span {
                    //         border: none
                    //     }
                    // }
                
            }
            .right-slide-mid {
                width: 100%;
                // min-height: 450px;
                #contact-form {
                    width: 100%;
                    max-width: 70%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .in-area {
                        background: transparent;
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid #6a6b6a;
                        margin: 10px 0;
                        outline: none !important;
                        line-height: 30px;
                        transition: .3s ease-in-out;
                        &:focus {
                            color: #fff;
                            border-bottom-color: #fff;
                            &::placeholder {
                                color: #fff;
                            }
                        }
                    }
                    .textareas {
                        resize: vertical;
                        max-height: 150px;
                        min-height: 50px;
                    }
                    .sendMsg {
                        background: transparent;
                        border: 1px solid #fff;
                        font-family: 'Charter';
                        font-size: 30px;
                        padding: 10px 25px;
                        cursor: pointer;
                        transition: .5s ease-in-out;
                        margin-top: 50px;
                        &:hover {
                            // background: tomato;
                        }
                        &:before {
                            content: '';
                            width: 20px;
                            height: 2px;
                            background: red;
                        }
                    }
                }
            }
            .left-slide-bot, .right-slide-bot {
                height: 150px;
                background: url('../img/dotted.svg');
                background-position: center;
                height: 90px;
                margin: 30px 30px ;
                opacity: 0;
            }
                .action-left {
                    text-align: center;
                    line-height: 38px;
                    display: none;
                    letter-spacing: 2px;
                }
                .action-right {
                    text-align: center;
                    line-height: 38px;
                    display: none;
                    letter-spacing: 2px;
                }
        }

    }
    .left-side {
       background: url('../img/bakVid.jpg');
       background-position-y: top;
        .left-slider {
            background: rgba(80, 103, 176, 0.96);
            left: -95%; //here
        }
    }
    .right-side {
        background: $bl1;
        background-image: url('../img/dd.svg');
        background-size: 40px;
        .right-slider {
            background: $black;
            right: -95%; //here 
            // height: 100vh !important;
        }
    }

    .central-block {
       
        position: absolute;
        top: 55px;
        left: 90px;
        right: 90px;
        bottom: 55px;
        .central-block_wrap {
            width: 100%;
            height: 100%;
            //border: 1px solid $t;
            position: relative;
            display: flex;
            flex-direction: column;
            .top-line {
                display: flex;
                justify-content: space-between;
                //border: 1px solid orangered;
                .lang-switch {
                    a {
                        text-decoration: none;
                        color: #fff;
                        margin-left: 10px;
                    }
                    .activ {
                        font-weight: bold;
                    }
                    
                }
            }
            .middle-line {
                height: 380px;
                width: 100%;
                //border: 1px solid red;
                margin: auto 0;
                display: flex;
                justify-content: space-between;
                .middle-sib {
                    //border: 1px dashed #fff;
                    width: 300px;
                    display: flex;
                    align-items: center;
                    .btn-wrap  {
                        //border: 1px solid red;
                        display: flex;
                        // justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        cursor: pointer;
                        &:hover .dot  {
                            animation: inherit !important;
                        }
                        &:hover .btn-text  {
                           opacity: 1;
                        }
                        .dots {
                            width: 40px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .dot {
                                border-radius: 50%;
                                background: #fff;
                                animation: biSmall 3s infinite
                            }
                            .dot-one {
                                width: 13px;
                                height: 13px;
                                animation-delay: .4s
                            }
                            .dot-two {
                                width: 9px;
                                height: 9px;
                                animation-delay: .2s
                            }
                            .dot-three {
                                width: 6px;
                                height: 6px;
                            }
                        }
                        .btn-text {
                            letter-spacing: 3px;
                            transition: .3s ease-in-out;
                            margin: 0 10px;
                        }
                    }
                }
                .middle-centr {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .middle-center-top {
                        //border: 1px dashed #fff;
                        height: 30px;
                        text-align: center;
                        p { letter-spacing: 3px }
                    }
                    .middle-center-mid {
                        //border: 1px dashed #fff;
                        height: 90%;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        position: relative;
                        h1{text-align: center}
                        i {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto; 
                            cursor: pointer;
                            display: none;
                        }
                        .fa-chevron-left {
                            left: 10px;
                        }
                        .fa-chevron-right {
                            right: 10px;
                        }
                    }
                    .middle-center-bot {
                        //border: 1px dashed #fff;
                        height: 30px;
                        text-align: center;
                        .btn-next {
                            animation: topDown 1s infinite ease-in-out;
                            
                        }
                    }
                }
            }
            .bottom-line {
                height: 44px;
                //border: 1px solid green;
                display: flex;
                justify-content: space-between;
                .bottom-left {
                    //border: 1px solid greenyellow;
                    display: flex;
                    align-items: flex-end;
                   // width: 300px;
                }
                .bottom-middle {
                   // border: 1px solid greenyellow;
                    display: flex;
                    align-items: flex-end;
                    .email {
                        margin: 0 10px;
                    }
                    a {
                        font-size: 15px;
                        transition: .5s ease-in-out;
                        color: #BCBFC8;
                        i { 
                            padding-right: 3px;
                            color: #fff;
                        }
                        &:hover { color: #fff }
                    }
                }
                .bottom-right {
                    display: flex;
                    align-items: flex-end;
                    //border: 1px solid greenyellow
                  //  width: 300px;
                    justify-content: flex-end;
                }
            }
        }
    }
}

@keyframes biSmall {
    0% {
       transform: scale(.8)
    }
    50% {
        transform: scale(1)
    }
  
    100% {
        transform: scale(0.3)
    }
}

@keyframes topDown {
    0% {
       margin-top: 0
    }
    50% {
        margin-top: 10px
    }
    100% {
        margin-top: 0
    }
}

@keyframes closeAnim {
    0% {
       line-height: 12px;
    }
    50% {
        line-height: 15px;
    }
    100% {
        line-height: 12px;
    }
}


@media(max-width: 1400px) {
    h1 {
        font-size: 40px;
        line-height: 40px;
        max-width: 610px;
        margin: 0 auto;
    }
    // h1 span {
    //     font-size: 60px;
    //     line-height: 62px;
    //     max-width: 610px;
    //     margin: 0 auto;
    // }
    #main-wrapper .left-side .left-slider, #main-wrapper .right-side .right-slider {
        //height: 500px; //500px
    }
    #main-wrapper .sibling-side .sib-slider .right-slide-mid #contact-form .textareas {
        max-height: 50px;
    }
}


@media (max-width:1250px) {
    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-middle a {
        margin: 5px 0;
    }
}


@media (max-width:1080px) {
    h1 {
        font-size: 47px;
        line-height: 71px;
    }
    // h1 span {
    //     font-size: 37px;
    //     line-height: 37px;
    // }
    #main-wrapper .central-block {
        left: 44px;
        right: 44px;
    }
}


@media (max-width:840px) {

    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-middle .location {
        max-width: 240px;
        text-align: center;
    }
    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-left, #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-right {
        width: 120px;
    }
}

.m-o {
    display: none;
    width: 29px;
}

@media (max-width:700px) {
    #main-wrapper {
        overflow-y: hidden !important;
    }
    #main-wrapper .central-block .central-block_wrap .bottom-line {
        background: $bl1;
    }
    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-middle, #main-wrapper .central-block .central-block_wrap .middle-line .middle-sib, .link-logo, .back-video, #main-wrapper .central-block .central-block_wrap .middle-line .middle-centr .middle-center-bot, #main-wrapper .sibling-side .sib-slider .left-slide-mid .send-btn-lef, #main-wrapper .central-block .central-block_wrap .middle-line .middle-centr .middle-center-top {
        display: none;
    }
    #main-wrapper .central-block .central-block_wrap .top-line {
        justify-content: center;
    }
    #main-wrapper .central-block .central-block_wrap .top-line .lang-switch a {
        margin: 0 5px;
    }
    #main-wrapper .central-block {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }
    #main-wrapper .sibling-side .sib-slider {
 
        top: -53%;
        left: 0 !important;
        right: 0 !important;
        bottom: inherit;
    }

    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-left, #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-right {
        align-items: center;
        padding: 0 10px;
    }
    h1 {
        font-size: 18px;
        line-height: 20px;
        padding: 0 13px;
    }
    // h1 span {
    //     font-size: 38px;
    //     line-height: 40px;
    // }
    #main-wrapper .central-block .central-block_wrap .middle-line {
        //height: 200px;
    }
    .bottom-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom-middle a {
        // margin-bottom: 50px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // font-size: 14px;
     
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        height: 50px;
        margin-top: 5px;
    }
    .bottom-middle a i {
        margin-bottom: 2px;
        font-size:13px;
        //padding-right: 5px;
    }
    .location {
        max-width: 240px;
        text-align: center;
    }

    #main-wrapper .central-block .central-block_wrap .middle-line {
        height: 100%;
        width: 100%;
        margin: auto 0;
        display: flex;
        justify-content: space-between;
        max-height: 355px;
    }

    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-left, #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-right {
        width: 100%
    }
    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-right {
        max-width: 144px;
    }
    #main-wrapper .sibling-side .sib-slider .action-left, #main-wrapper .sibling-side .sib-slider .action-right {
        display: block;
        font-size: 13px;
        font-weight: bold;
        line-height: 30px;
        position: absolute;
        bottom: 1%;
        left: 0;
        right: 0;
    }


    #main-wrapper .sibling-side .sib-slider .left-slide-top, #main-wrapper .sibling-side .sib-slider .right-slide-top, #main-wrapper .sibling-side .sib-slider .left-slide-bot, #main-wrapper .sibling-side .sib-slider .right-slide-bot {
        height: 30px;
        margin: 10px 10px;
    }
    .lang-switch {
        margin-top: 50px;
    }
    #main-wrapper .left-side {
        background: url('../img/mob-bak.jpg');
        background-position-x: center;
    }
    #main-wrapper .sibling-side .sib-slider .left-slide-top .slide-dots-back, #main-wrapper .sibling-side .sib-slider .right-slide-top .slide-dots-back {
        background: url('../img/dots-mini.svg')
    }
    #main-wrapper .sibling-side .sib-slider .left-slide-bot, #main-wrapper .sibling-side .sib-slider .right-slide-bot {
        background: url('../img/dots-mini.svg')
    }
    #main-wrapper .sibling-side .sib-slider .right-slide-mid #contact-form .sendMsg {
        padding: 10px 25px;
        margin-top: 30px;
        font-size: 15px;
    }
    #main-wrapper .sibling-side .sib-slider .right-slide-top .r-s-close {
        position: absolute;
        left: 0;
        top: 7px;
        background: #383938;
        opacity: 1;
    }
    #main-wrapper .central-block .central-block_wrap .middle-line .middle-centr .middle-center-mid i {
        display: flex;
        align-items: center;
    }
    .m-c {
        display: none;
    }
    .m-o {
        display: block;
    }
}


@media (max-width:422px) {
    h1 {
        // font-size: 25px;
        max-width: 270px;
        // line-height: 30px;
    }
    // h1 span {
    //     font-size: 25px;
    //     max-width: 270px;
    //     line-height: 30px;
    // }
    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-right img {
        width: 100px;
        opacity: .6;   
    }
    // #main-wrapper .sibling-side .sib-slider .right-slide-mid {
    //     //min-height: 477px;
    // }
}

@media (max-width:322px) {
    // .lang-switch {
    //     margin-top: 40px;
    // }
    .bottom-middle a i {
        display: none;
    }
    .bottom-middle a {
        //margin-bottom: 15px;
        height: 40px;
        margin-top: 0;
    }
    #main-wrapper .sibling-side .sib-slider .right-slide-mid #contact-form .in-area {
        margin: 2px 0;
    }
    #main-wrapper .sibling-side .sib-slider .right-slide-mid h3 {
        padding: 15px 0;
    }
    #main-wrapper .sibling-side .sib-slider .right-slide-mid #contact-form .sendMsg {
        margin-top: 10px;
        border: none;
        border-bottom: 1px solid #fff;
        padding: 5px 25px;
    }
}


