
@font-face {
    font-family: 'Charter';
    src: url("../font/CharterBoldBT.ttf");
}

@font-face {
    font-family: 'Roboto-bold';
    src: url("../font/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'Roboto-light';
    src: url("../font/Roboto-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto-light';
    color: #fff;
}


$bl1: #212b4a;
$bl2: #5067b0;
$black: #383938;
$white: #fff;
$grey: #ccc;
$t: tomato;

h1 {
    font-family: 'Charter';
    font-size: 76px;
    line-height: 76px;
    letter-spacing: 0em;
    margin-top: 20px;
}

h2 {
    font-family: 'Charter';
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0em;
}

h3 {
    font-family: 'Charter';
    font-size: 30px;
    line-height: 20px;
    letter-spacing: 0em;
}

p {
    font-family: 'Roboto-light';
    font-size: 13px;
    opacity: .7;
}
a {
    font-size: 16px;
    text-decoration: none;
}

#main-wrapper {
    width: 100%;
    display: flex;
    height: 100vh;
    .sibling-side {
        width: 50%;
        height: 100vh;
        border-right: 1px solid #4b536c;
        overflow: hidden;
        background: $black;
        position: relative;
        .sib-slider {
            width: 100%;
            height: 60%; //here 655px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 100;
            display: flex;
            flex-direction: column;
            .left-slide-top, .right-slide-top {
                height: 90px;
                margin: 30px 0;
                //background: url('../img/white dots background.svg');
                display: flex;
                opacity: 0;
                visibility: hidden;
                .slide-dots-back {
                    width: 100%;
                    //border: 1px solid red;
                    background: url('../img/dotted.svg');
                    background-position: center;
                }
                .l-s-close, .r-s-close {
                    cursor: pointer;
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    opacity: .7;
                    transition: .3s ease-in-out;
                    &:hover {
                        opacity: 1;
                    }
                    img {
                        margin: 20px 0;
                    }
                    span {
                        transform: rotate(-90deg);
                        width: 40px;
                        font-size: 11px;
                        //animation: closeAnim 1s infinite;
                        letter-spacing: 2px;
                    }
                }
            }
            .right-slide-top { flex-direction: row-reverse }
            .left-slide-mid, .right-slide-mid {
                //border: 1px solid red;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                //opacity: 0;
                nav {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-self: center;
                    text-align: center;
                    a {
                        opacity: .7;
                        transition: .3s ease-in-out;
                        margin:  5px 0;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                .send-btn-lef{
                    
                        background: transparent;
                        border: 1px solid #fff;
                        font-family: 'Charter';
                        font-size: 30px;
                        padding: 10px 25px;
                        cursor: pointer;
                         transition: .5s ease-in-out;
                        &:hover {
                            background: rgba(255,255,255,0.2)
                        }    
                    }
                    // &:hover {
                    //     border-bottom: 1px solid #fff;
                    //     span {
                    //         border: none
                    //     }
                    // }
                
            }
            .right-slide-mid {
                width: 100%;
                max-height: 470px;
                #contact-form {
                    width: 100%;
                    max-width: 70%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .in-area {
                        background: transparent;
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid #6a6b6a;
                        margin: 10px 0;
                        outline: none !important;
                        line-height: 30px;
                    }
                    .sendMsg {
                        background: transparent;
                        border: 1px solid #fff;
                        font-family: 'Charter';
                        font-size: 30px;
                        padding: 10px 25px;
                        cursor: pointer;
                        transition: .5s ease-in-out;
                        margin-top: 50px;
                        &:hover {
                            background: tomato;
                        }
                    }
                }
            }
            .left-slide-bot, .right-slide-bot {
                height: 150px;
                background: url('../img/dotted.svg');
                background-position: center;
                height: 90px;
                margin: 30px 0;
                opacity: 0;
            }
        }

    }
    .left-side {
       
        .left-slider {
            background: rgba(80, 103, 176, 0.96);
            left: -95%; //here
        }
    }
    .right-side {
        background: $bl1;
        .right-slider {
            background: $black;
            right: -95%; //here 
            // height: 100vh !important;
        }
    }

    .central-block {
       
        position: absolute;
        top: 55px;
        left: 90px;
        right: 90px;
        bottom: 55px;
        .central-block_wrap {
            width: 100%;
            height: 100%;
            //border: 1px solid $t;
            position: relative;
            display: flex;
            flex-direction: column;
            .top-line {
                display: flex;
                justify-content: space-between;
                //border: 1px solid orangered;
                .lang-switch {
                    a {
                        text-decoration: none;
                        color: #fff;
                        margin-left: 10px;
                    }
                    .activ {
                        font-weight: bold;
                    }
                    
                }
            }
            .middle-line {
                height: 380px;
                width: 100%;
                //border: 1px solid red;
                margin: auto 0;
                display: flex;
                justify-content: space-between;
                .middle-sib {
                    //border: 1px dashed #fff;
                    width: 300px;
                    display: flex;
                    align-items: center;
                    .btn-wrap  {
                        //border: 1px solid red;
                        display: flex;
                        // justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        cursor: pointer;
                        &:hover .dot  {
                            animation: inherit !important;
                        }
                        &:hover .btn-text  {
                           opacity: 1;
                        }
                        .dots {
                            width: 40px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .dot {
                                border-radius: 50%;
                                background: #fff;
                                animation: biSmall 3s infinite
                            }
                            .dot-one {
                                width: 13px;
                                height: 13px;
                                
                            }
                            .dot-two {
                                width: 9px;
                                height: 9px;
                                animation-delay: .2s
                            }
                            .dot-three {
                                width: 6px;
                                height: 6px;
                                animation-delay: .4s
                            }
                        }
                        .btn-text {
                            letter-spacing: 3px;
                            transition: .3s ease-in-out;
                            margin: 0 10px;
                        }
                    }
                }
                .middle-centr {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .middle-center-top {
                        //border: 1px dashed #fff;
                        height: 30px;
                        text-align: center;
                        p { letter-spacing: 3px }
                    }
                    .middle-center-mid {
                        //border: 1px dashed #fff;
                        height: 90%;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        h1{text-align: center}
                    }
                    .middle-center-bot {
                        //border: 1px dashed #fff;
                        height: 30px;
                        text-align: center;
                        .btn-next {
                            animation: topDown 1s infinite ease-in-out;
                            
                        }
                    }
                }
            }
            .bottom-line {
                height: 44px;
                //border: 1px solid green;
                display: flex;
                justify-content: space-between;
                .bottom-left {
                    //border: 1px solid greenyellow;
                    display: flex;
                    align-items: flex-end;
                }
                .bottom-middle {
                   // border: 1px solid greenyellow;
                    display: flex;
                    align-items: flex-end;
                    .email {
                        margin: 0 10px;
                    }
                    a {
                        font-size: 15px;
                        opacity: .7
                    }
                }
                .bottom-right {
                    display: flex;
                    align-items: flex-end;
                    //border: 1px solid greenyellow
                }
            }
        }
    }
}

@keyframes biSmall {
    0% {
       transform: scale(.8)
    }
    50% {
        transform: scale(1)
    }
  
    100% {
        transform: scale(0.3)
    }
}

@keyframes topDown {
    0% {
       margin-top: 0
    }
    50% {
        margin-top: 10px
    }
    100% {
        margin-top: 0
    }
}

@keyframes closeAnim {
    0% {
       line-height: 12px;
    }
    50% {
        line-height: 15px;
    }
    100% {
        line-height: 12px;
    }
}


@media(max-width: 1400px) {
    h1 {
        font-size: 60px;
        line-height: 80px;
        max-width: 610px;
        margin: 0 auto;
    }
    #main-wrapper .left-side .left-slider, #main-wrapper .right-side .right-slider {
        //height: 500px; //500px
    }
}


@media (max-width:1250px) {
    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-middle a {
        margin: 5px 0;
    }
}


@media (max-width:1080px) {
    h1 {
        font-size: 47px;
        line-height: 71px;
    }
    #main-wrapper .central-block {
        left: 44px;
        right: 44px;
    }
}


@media (max-width:840px) {

    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-middle .location {
        max-width: 240px;
        text-align: center;
    }
}



@media (max-width:700px) {
    #main-wrapper {
        overflow-y: hidden !important;
    }
    #main-wrapper .central-block .central-block_wrap .bottom-line {
        background: $bl1;
    }
    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-middle, #main-wrapper .central-block .central-block_wrap .middle-line .middle-sib, .link-logo, .back-video, #main-wrapper .central-block .central-block_wrap .middle-line .middle-centr .middle-center-bot {
        display: none;
    }
    #main-wrapper .central-block .central-block_wrap .top-line {
        justify-content: center;
    }
    #main-wrapper .central-block .central-block_wrap .top-line .lang-switch a {
        margin: 0 5px;
    }
    #main-wrapper .central-block {
        bottom: 0;
        left: 0;
        right: 0;

    }
    #main-wrapper .sibling-side .sib-slider {
 
        top: -55%;
        left: 0;
        right: 0;
        bottom: inherit;
    }

    #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-left, #main-wrapper .central-block .central-block_wrap .bottom-line .bottom-right {
        align-items: center;
        padding: 0 10px;
    }
    h1 {
        font-size: 38px;
        line-height: 40px;
    }
    #main-wrapper .central-block .central-block_wrap .middle-line {
        //height: 200px;
    }
    .bottom-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom-middle a {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom-middle a img {
        margin-bottom: 10px;
    }
    .location {
        max-width: 240px;
        text-align: center;
    }

    #main-wrapper .central-block .central-block_wrap .middle-line {
        height: 100%;
        width: 100%;
        margin: auto 0;
        display: flex;
        justify-content: space-between;
        max-height: 355px;
    }

}